html {
	scroll-behavior: smooth;
}

body {
	background: #f1f1f1;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.container {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	background: #ffffff;
	
}

img {
	width: 100%;
	height: 100%;
	object-fit: fill;
}

.John {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	background: #e9e8e8;
	font-size: 18px;
	line-height: 25px;
}

.end {
	width: 100%;
	max-width: 1010px;
	margin: 0 auto;

}

.button {
	text-align: center;
}

.Generate {
    background-color: #dfdfdf;
    border: 2px solid #c5c5c5;
    color: #525252;
    padding: 10px 10px;
    text-decoration: none;
    display: inline-block;
    outline: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.Generate:hover {
	background-color: #bc2a4d;
    color: white;
    border: 2px solid #91203c;
}

input{
  border: 0;
  border-bottom: 1px solid #aaa;
  background-color: rgba(0,0,0,0);
  outline: 0;
  font-size: 15px;  
}