body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.background-work {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: linear-gradient(to top, #abbaab, #ffffff);
	padding: 30px;
}

/* container
===============*/
.container {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	overflow: hidden;
	box-shadow: 0px 5px 30px 9px rgba(16, 36, 94, 0.4);
}


/* вверх контейнера
====================*/
.container__upward {
	background: #ffffff;
}

.container__upward img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		background-size: 100% auto;
}

.container__upward span {
	margin-left: 10px;
}

/* низ контейнера
================*/
.container__down {
	background: #e9e8e8;
}

.much-text {
	margin-left: 10px;
}

input[type="text"] {
	background: transparent;
	font-family: inherit;
	line-height: 0.7;
	border: 0;
	border-bottom: 1px solid #aaa;
	background-color: rgba(0,0,0,0);
	outline: none;
	font-size: 16px;
}

.much-text select {
	font-size: 16px;
	min-width: 15ch;
	border: 0;
	border-bottom: 1px solid #aaa;
	background-color: rgba(0,0,0,0);
	font-size: 0.9rem;
	cursor: pointer;
	line-height: 0.7;
	outline: 0;
	text-align-last: center;
	font-size: 15px;
}

.much-text select:disabled {
	pointer-events: none;
	opacity: 0.5;
}


.container__dniwe img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	background-size: 100% auto;
}

.container__button {
	text-align: center;
	padding: 20px;
}

/* button
=========== */

button[type="button=generaton"] {
	background-color: #dfdfdf;
	border: 2px solid #c5c5c5;
	color: #525252;
	text-decoration: none;
	padding: 10px 45px;
	display: inline-block;
	outline: none;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

button[type="button=generaton"]:active {
	background-color: #bc2a4d;
	color: white;
	border: 2px solid #91203c;
	box-shadow: 0 0.875rem 1.75rem rgba(0, 0, 0, 0.25), 0 0.625rem 0.625rem rgba(0, 0, 0, 0.22);
}

/* модальное */
/* задник
===================*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* сама коробка
===================*/
.modal__box {
  position: relative;
  width: 60%;
  max-width: 800px;
  margin: 100px auto;

}

/* верхняя часть
===================*/
.modal__header {
  padding: 10px 40px;
  background: #546E7A;
  background: linear-gradient(to right, #eef2f3, #8e9eab);
  color: #ffffff;
}

/* кнопка закрытия
===================*/
.modal__header .close {
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  text-align: right;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* нижняя часть
===================*/
.modal__body {
  background: #ECEFF1;
  padding: 25px;
}

/* кнопка
===================*/
.modal__button {
    margin: auto;
    background: #60a839;
    border: none;
}

button[type=button] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  border: 0;
}

button[type=button]:active {
  background: rgb(33,147,90);
  outline: none;
}

.modal__textarea {
  display: flex;
  overflow: auto;
}

textarea[type=textarea] {
  box-sizing: border-box;
  padding: 12px 20px;
  resize: vertical;
  font-size: 1rem;
  border-radius: 4px;
}

input[type=popup] {
    width: 63%;
    font-size: 1rem;
    padding: 12px 20px;
}


input#firstname:active {
	outline: none;
}

.modal__title {
  font-weight: 400px;
  padding: 5px 5px;
}












/* закрытие снизу
===================*/
.modal .buttons {
  bottom: 0;
  height: 50px;
  background-color: #FFF;
}

.modal .buttons a {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  float: left;
  background-color: #EEE;
  color: #4d5c6e;
  transition: 0.3s;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

.modal .buttons a:hover {
  background-color: #e1e1e1;
}